:root {
  --color-primary: #383838;
  --font-size-primary: 20px;
  --font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-primary);
  font-size: var(--font-size-primary);
  font-weight: var(--font-weight);
}


.wrapper {
  margin: 0 auto;
  max-width: 1172px;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

ul {
  list-style: none;
}
